{% extends "base.html" %}

{% block title %}Kursy{% endblock %}

{% block content %}
<div class="container" id="demo">
    <h1>Moje projekty</h1>
    
    <h3>Moje projekty to aplikacja w której przedstawiam efekty mojej pracy z trzech ośmiotygodniowych kursów nauki Pythona organizowanych przez Rice University przy wykorzystaniu platformy edukacyjnej Coursera w latach 2014-2015. </h3>
    
    <h3>
    <ol>
    </ul>zakładka Rice1 - kurs podstawowy - An Introduction to Interactive Programming in Python</ul><br>
    </ul>zakładka Rice2 - kurs średniozaawansowany - Principles of Computing</ul><br>
    </ul>zakładka Rice3 - kurs zaawansowany - Algorithmic Thinking</ul></ol>
    
    </h3>
     <br><br>   
    <h4>
        Poniżej załączam świadectwa ukończenia kursów. W procentach podaję wyniki jakie uzyskałem na koniec kursów.<br><br>
    <a href="/static/certyfikat1.pdf" target="_blank">Świadectwo ukończenia </a>kursu An Introduction to Interactive Programming in Python (98.4%)<br>
    <a href="/static/certyfikat2.pdf" target="_blank">Świadectwo ukończenia </a>kursu Principles of Computing (98.4%)<br>
    <a href="/static/certyfikat3.pdf" target="_blank">Świadectwo ukończenia </a>kursu Algorithmic Thinking (99.1%)<br><br>
        Aplikację stworzyłem przy użyciu frameworku Flask. Inspiracją był dla mnie tutorial Flaska autorstwa Miguela Grinberga:</h4>
     
    <br><br>
    <iframe target="_blank" width="600" height="400" src="https://www.youtube.com/embed/FGrIyBDQLPg" frameborder="0" allowfullscreen></iframe>
    
</div>


{% endblock %}







